// Colors
$textColor: #707070;
$grayColor: #f2f2f2;
$mainColor: rgb(251, 228, 75);

// Fonts
$fontFamily: 'Raleway',
sans-serif;
$fontMainTitle: 'Oleo Script', cursive;

// Screen size
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;